<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="51" assertions="391" failures="0" errors="0" time="0.401807">
    <testsuite name="All" tests="51" assertions="391" failures="0" errors="0" time="0.401807">
      <testsuite name="testDebug" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/DebugTest.php" tests="1" assertions="18" failures="0" errors="0" time="0.018685">
        <testcase name="testInheritNested" class="testDebug" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/DebugTest.php" line="30" assertions="18" time="0.018685"/>
      </testsuite>
      <testsuite name="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" tests="16" assertions="103" failures="0" errors="0" time="0.121906">
        <testcase name="testSanity" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="14" assertions="1" time="0.007157"/>
        <testcase name="testSimpleFactory" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="19" assertions="6" time="0.007311"/>
        <testcase name="testInheritFactory" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="34" assertions="8" time="0.007011"/>
        <testcase name="testConfigNamespaceFactory" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="54" assertions="8" time="0.013814"/>
        <testcase name="testSharedConfigNamespaceInstance" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="74" assertions="8" time="0.007686"/>
        <testcase name="testDualConfigNamespaceInstance" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="101" assertions="8" time="0.008030"/>
        <testcase name="testExistingConfig" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="128" assertions="12" time="0.007432"/>
        <testcase name="testSimpleArguments" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="155" assertions="1" time="0.006070"/>
        <testcase name="testInheritArguments" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="166" assertions="1" time="0.005673"/>
        <testcase name="testInheritSameArguments" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="176" assertions="1" time="0.004575"/>
        <testcase name="testInheritChangedArguments" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="187" assertions="1" time="0.004881"/>
        <testcase name="testArgumentsDoesNotExistException" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="197" assertions="1" time="0.005292"/>
        <testcase name="testNested" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="224" assertions="18" time="0.009976"/>
        <testcase name="testInheritNested" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="268" assertions="18" time="0.010945"/>
        <testcase name="testNestedArguments" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="295" assertions="10" time="0.010705"/>
        <testcase name="testClassDoesNotExistException" class="testCallFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryCallTest.php" line="328" assertions="1" time="0.005348"/>
      </testsuite>
      <testsuite name="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" tests="10" assertions="88" failures="0" errors="0" time="0.075411">
        <testcase name="testSanity" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="14" assertions="1" time="0.004830"/>
        <testcase name="testSimpleFactory" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="19" assertions="6" time="0.006290"/>
        <testcase name="testInheritFactory" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="34" assertions="8" time="0.007079"/>
        <testcase name="testConfigNamespaceFactory" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="54" assertions="8" time="0.007351"/>
        <testcase name="testSharedConfigNamespaceInstance" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="74" assertions="8" time="0.008301"/>
        <testcase name="testDualConfigNamespaceInstance" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="101" assertions="8" time="0.008679"/>
        <testcase name="testExistingConfig" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="128" assertions="12" time="0.008297"/>
        <testcase name="testNested" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="172" assertions="18" time="0.009467"/>
        <testcase name="testInheritNested" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="216" assertions="18" time="0.010617"/>
        <testcase name="testInstanceDoesNotExistException" class="testLoadFactory" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/FactoryLoadTest.php" line="247" assertions="1" time="0.004500"/>
      </testsuite>
      <testsuite name="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" tests="16" assertions="103" failures="0" errors="0" time="0.122426">
        <testcase name="testSanity" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="14" assertions="1" time="0.005519"/>
        <testcase name="testSimpleInstance" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="19" assertions="6" time="0.008855"/>
        <testcase name="testInheritInstance" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="33" assertions="8" time="0.007527"/>
        <testcase name="testConfigNamespaceInstance" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="51" assertions="8" time="0.007044"/>
        <testcase name="testSharedConfigNamespaceInstance" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="72" assertions="8" time="0.006648"/>
        <testcase name="testDualConfigNamespaceInstance" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="93" assertions="8" time="0.007060"/>
        <testcase name="testExistingConfig" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="112" assertions="12" time="0.010096"/>
        <testcase name="testSimpleArguments" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="139" assertions="1" time="0.005707"/>
        <testcase name="testInheritArguments" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="149" assertions="1" time="0.005274"/>
        <testcase name="testInheritSameArguments" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="157" assertions="1" time="0.005186"/>
        <testcase name="testInheritChangedArguments" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="167" assertions="1" time="0.008250"/>
        <testcase name="testInstanceArgumentsDoesNotExistException" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="177" assertions="1" time="0.005011"/>
        <testcase name="testNested" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="203" assertions="18" time="0.012716"/>
        <testcase name="testInheritNested" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="246" assertions="18" time="0.012123"/>
        <testcase name="testNestedArguments" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="272" assertions="10" time="0.010052"/>
        <testcase name="testInstanceDoesNotExistException" class="testInstance" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/InstanceTest.php" line="303" assertions="1" time="0.005357"/>
      </testsuite>
      <testsuite name="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" tests="8" assertions="79" failures="0" errors="0" time="0.063379">
        <testcase name="testSanity" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="14" assertions="1" time="0.004821"/>
        <testcase name="testSimple" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="19" assertions="6" time="0.005864"/>
        <testcase name="testExistingConfig" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="33" assertions="12" time="0.009062"/>
        <testcase name="testInherit" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="58" assertions="8" time="0.007486"/>
        <testcase name="testNamespace" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="74" assertions="8" time="0.008207"/>
        <testcase name="testDeepNamespace" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="89" assertions="8" time="0.008086"/>
        <testcase name="testNested" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="120" assertions="18" time="0.010284"/>
        <testcase name="testInheritNested" class="testObject" file="/usr/local/zend/var/apps/http/kamio.krowd.dev/vendor/hive/config/tests/PHPUnit/ObjectTest.php" line="164" assertions="18" time="0.009569"/>
      </testsuite>
    </testsuite>
  </testsuite>
</testsuites>
